.progress-bar {
    background-color: black;
    height: 1em;
    position: relative;
    width: 100%;
    margin: 2px;
}
.progress {
    background-size: 23em 0.25em;
    height: 100%;
    position: relative;
    background-color: rgb(197, 195, 56);
    animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -o-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -ms-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -webkit-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
        -moz-animation: cssload-width 3.45s cubic-bezier(0.45, 0, 1, 1) infinite;
}