<p>All systems nominal</p>

<div class="row">

     <div class="card app-mission-panel">
        <div class="card-head">
            OBJECTIVES
        </div>
        <div class="">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </div>
    </div>


    <app-caution-panel></app-caution-panel>
    <app-levels-panel></app-levels-panel>
</div>

<div class="row">
    <app-energy-control></app-energy-control>
    <app-energy-control></app-energy-control>
    <app-energy-control></app-energy-control>
    <app-energy-control></app-energy-control>
</div>