

<div class="card">
    <div class="card-head">
        CAUTION
    </div>
    <div class="row">
        <app-indicator [name]="'BAT'" [active]="batOn"></app-indicator>
        <app-indicator [name]="'O2'" [active]="o2On"></app-indicator>
    </div>
    <div class="row">
        <app-indicator [name]="'HEAT'" [active]="heatOn"></app-indicator>
        <app-indicator [name]="'CO2'" [active]="co2On"></app-indicator>
    </div>
    <div class="row">
        <app-indicator [name]="'ENG'" [active]="engOn"></app-indicator>
        <app-indicator [name]="'RCS'" [active]="rcsOn"></app-indicator>
    </div>
    
</div>