<div class="card">
    <div class="card-head">
        Energy Control
    </div>
        <div class="row">
            <app-button [name]="'BAT'"></app-button>
            <app-button [name]="'O2'"></app-button>
        </div>
        <div class="row">
            <app-button [name]="'HEAT'"></app-button>
            <app-button [name]="'CO2'"></app-button>
        </div>
        <div class="row">
            <app-button [name]="'ENG'"></app-button>
            <app-button [name]="'RCS'"></app-button>
        </div>
</div>