/* You can add global styles to this file, and also import other style files */
body{
    background-color: #2f353a;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}


h1{
    color: white;
}

p{
    color: white;
}

/* Grid */

.row{
    display: flex;
    width: 100%;
}

@media (max-width: 600px)
{
    .row{
        display: block;
    }
} 

/* Cards */

app-caution-panel, app-energy-control, app-levels-panel, .app-mission-panel{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #23272b;
    color:white;
    margin: 5px;
    width: 100%;
}

.card-head{
    background-color: #23272b;
    padding: 5px;
    text-align: center;
}

.card-body{
    background-color: #2f353a;
    padding: 5px;
    border-color: #23272b;
    border-style: solid none solid none;
    border-width: 2px;
}

.card-foot{
    padding: 5px;
    background-color: #23272b;
}

/* Buttons */

.btn{
    padding: 15px;
    background-color: #2f353a;
    margin: 5px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn-success{
    background-color: #4c7e42;
}

.btn-warning{
    background-color: #787e42;
}

.btn-danger{
    background-color: #7e4242;
}

.btn-primary{
    background-color: #42527e;
}

.btn:hover {
    filter: brightness(85%);
}


.danger{
    background-color: #7e4242;
}

.terminal{
    background-color: black;
    color: chartreuse;
    width: 400px;
    height: 200px;
    text-align: left;
    width: 100%;
}


.center {
    margin: auto;
    border: 3px solid green;
    padding: auto;
  }

app-indicator{
    width: 100%;
}

app-button{
    width: 100%;
}
